<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav"
                    aria-expanded="false">
                <!-- div class="navbar-label">Menu</div-->
                <div class="icon-bar-wrap">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-state pull-left"><a class="text-uppercase" href="javascript:void(0)">ASAP</a> <span
                    class="text-info">to</span> <a href="javascript:void(0)">BELOVA st. 88</a></div>
            <!--<div class="navbar-state visible-xs visible-sm pull-left">{{$ctrl.getStateTitle()}}</div>-->
            <div class="navbar-brand hidden-xs" ng-attr-ui-sref="{{$ctrl.isAuthorized ? 'profile.main' : 'home'}}">
                <span class="icon icon_logo"></span>
            </div>

            <div class="navbar-basket pull-right" data-toggle="collapse" data-target="#sidecart">
                <!-- TODO: Enable on see theme -->
                <span
                        ng-click="$ctrl.CartServices.toggleShowCart()"
                        class="icon icon_basket"
                        data-toggle="collapse" data-target="#sidecart"
                        ng-show="$ctrl.CartServices.getTotalCount() > 0">
                    <span>{{ $ctrl.CartServices.getTotalCount()}}</span>
                </span>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav navbar_hb">
                <li>
                    <span class="contacts">604 7814625 TEXT/CALL</span>
                </li>
                <li ng-if="$ctrl.isAuthorized"
                    ng-class="{active: $ctrl.state.includes('profile') || $ctrl.state.includes('account')}">
                    <a ui-sref="profile.main">My Profile</a>
                </li>
                <li ng-class="{active: $ctrl.state.includes('store')}">
                    <a ui-sref="store.restaurants">Restaurants</a>
                </li>
                <li ng-class="{active: $ctrl.state.includes('about')}">
                    <a ui-sref="about">About</a>
                </li>
                <li ng-class="{active: $ctrl.state.includes('contacts')}">
                    <a ui-sref="contacts">Contacts</a>
                </li>
                <li>
                    <a ng-if="!$ctrl.isAuthorized" ui-sref="users.login">Login</a>
                </li>
                <li>
                    <a ng-if="$ctrl.isAuthorized" href="javascript:void(0);" ng-click="$ctrl.logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Sidebar -->
<aside>
    <sidebar-cart></sidebar-cart>
</aside>