.change-color{
	font-size: $font-size-small;
	width: auto !important;
    display: inline-block !important;
    margin: 13px 16px 0 15px;
    border: 0 !important;
    &.btn:hover{
        color: $color-white;
    }
    @media (min-width: $screen-sm-min) {
    	font-size: 15px;
        margin-top: 12px;
    	font-weight: normal;
    }
    @media (min-width: $screen-md-min) {
        margin-top: 11px;
        margin-right: 15px;
    }
}