<nav class="navbar navbar-default navbar-static-top visible-xs">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home"><span class="icon icon_logo"></span></a>
      <!-- <button ng-click="$ctrl.toggleTheme()" type="button" class="btn btn-default pull-right change-color">Изменить цвет</button> -->
      <!--<a ng-if="!$ctrl.authorized" ui-sref="users.register" class="btn btn-sm pull-right change-color btn-primary">Регистрация</a>-->
      <!--<a ng-if="!$ctrl.authorized" ui-sref="users.login" class="change-color pull-right navbar-link">Вход</a>-->
      <!--<a ng-if="$ctrl.authorized" href="#" ng-click="$ctrl.logout()" class="btn btn-sm pull-right change-color btn-primary">Выход</a>-->
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
<nav class="navbar navbar-static-top" ng-class="$ctrl.inversed?'navbar-inverse':'navbar-default'">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand hidden-xs" ui-sref="home"><span class="icon" ng-class="$ctrl.inversed?'icon_logo-inverse':'icon_logo'"></span></a>
      <ul class="nav navbar-nav navbar_hb">
        <!-- Removed cause first release does not include transfers -->
        <!-- <li  ng-class="{active: $ctrl.state.includes('transfers')}"><a ui-sref="transfers">Переводы</a></li> -->
        <!--<li ng-class="{active: $ctrl.state.includes('payments')}"><a ui-sref="payments.list">Услуги и Платежи</a></li>-->
      </ul>
      <!-- TODO: Enable on see theme -->
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span>Eще</span>
          <span class="icon icon_more"></span>
      </button> -->
    </div>
    <div class="nav navbar navbar-right hidden-xs">
      <!-- <button ng-click="$ctrl.toggleTheme()" type="button" class="btn  change-color" ng-class="$ctrl.inversed?'btn-primary':'btn-default'">Изменить цвет</button> -->
      <a ng-if="!$ctrl.authorized" ui-sref="users.login" class="change-color navbar-link">Вход</a>
      <a ng-if="!$ctrl.authorized" ui-sref="users.register" class="btn btn-sm change-color btn-default">Регистрация</a>
      <a ng-if="$ctrl.authorized" href="#" ng-click="$ctrl.logout()" class="btn btn-sm change-color btn-default">Выход</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li  ng-class="{active: $ctrl.state.includes('theme')}"><a ui-sref="theme">Theme</a></li>
        </ul>
    </div> -->
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
