<!--<nav class="navbar navbar-default navbar-static-top">-->
    <!--<div class="container">-->
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header pull-left">-->
            <!--<a class="navbar-brand" ng-attr-ui-sref="{{$ctrl.isAuthorized ? 'profile.main' : 'home'}}"><span class="icon icon_logo"></span></a>-->
            <!--<a class="navbar-brand" ui-sref="home">-->
                <!--&lt;!&ndash;<span class="icon icon_logo"></span>&ndash;&gt;-->
            <!--Deos</a>-->
        <!--</div>-->
        <!--<div class="nav navbar navbar-right">-->
            <!--<a ui-sref="users.register" class="btn btn-sm pull-right change-color btn-primary">Registration</a>-->
            <!--<a ui-sref="users.login" class="pull-right navbar-link change-color">Login</a>-->
        <!--</div>-->

        <!--<div class="nav navbar navbar_hb navbar-right pull-right">-->
            <!--<div class="dropdown dropdown_static">-->
                <!--<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                    <!--<img ng-src="{{$ctrl.getImgUrl()}}/shopping-cart.svg" alt="">-->
                    <!--<span class="link" ng-click="$ctrl.CartServices.toggleShowCart()">-->
                        <!--<span class="link-item">{{ $ctrl.CartServices.getTotalCount()}} {{$ctrl.CartServices.getTotalCount()==1 ? 'item':'items'}}</span>-->
                        <!--<small class="link-item link-item_small">{{ $ctrl.CartServices.getTotalPrice() | currency }}</small>-->
                    <!--</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--&lt;!&ndash; <li class="disabled">-->
                        <!--<a ui-sref="profile.settings" class="block soon-label" ng-click="$ctrl.disableEvent($event)">-->
                            <!--<span class="block-item">Мы не знаем, кто вы =(</span>-->
                            <!--<span href="javascript:void(0);" class="btn btn-primary disabled">Заполнить профиль</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li class="disabled">-->
                        <!--<a ui-sref="profile.virtual" class="block soon-label" ng-click="$ctrl.disableEvent($event)">-->
                            <!--<span class="block-item">-->
                                <!--<small>-->
                                    <!--Виртуальная карта-->
                                <!--</small>-->
                                <!--4003 **** 5454-->
                            <!--</span>-->

                            <!--<span class="block-item">-->
                                <!--<small >-->
                                    <!--Баланс-->
                                <!--</small>-->
                                <!--0 тг.-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li class="disabled">-->
                        <!--<a ui-sref="profile.main" class="soon-label" ng-click="$ctrl.disableEvent($event)">-->
                            <!--<span class="block-item">-->
                                <!--<small >-->
                                    <!--Go bonus-->
                                <!--</small>-->
                                <!--0 тг.-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li class="disabled">-->
                        <!--<a ui-sref="profile.settings" class="soon-label" ng-click="$ctrl.disableEvent($event)">-->
                            <!--Настройки профиля-->
                        <!--</a>-->
                    <!--</li> &ndash;&gt;-->
                    <!--<li><a href="javascript:void(0);" ng-click="$ctrl.logout()">Logout</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- /.container-fluid -->
<!--</nav>-->
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                <!-- div class="navbar-label">Menu</div-->
                <div class="icon-bar-wrap">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand navbar-brand-centered" ng-attr-ui-sref="{{$ctrl.isAuthorized ? 'profile.main' : 'home'}}"><span class="icon icon_logo"></span></a>
            <div class="navbar-state visible-xs visible-sm pull-left">Daulet{{$ctrl.getStateTitle()}}</div>
            <div class="pull-right">
                <!-- TODO: Enable on see theme -->
                <button type="button" ng-click="$ctrl.CartServices.toggleShowCart()"
                        class="btn btn-sm pull-right change-color btn-primary"
                        data-toggle="collapse" data-target="#sidecart"
                        ng-show="$ctrl.CartServices.getTotalCount() > 0">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span>{{ $ctrl.CartServices.getTotalCount()}}</span>
                </button>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav navbar_hb">
                <!-- <li  ng-class="{active: $ctrl.state.includes('theme')}"><a ui-sref="theme">Theme</a></li> -->
                <li>
                    <span class="contacts">604 7814625 TEXT/CALL</span>
                </li>
                <li ng-if="$ctrl.isAuthorized" ng-class="{active: $ctrl.state.includes('profile') || $ctrl.state.includes('account')}">
                    <a ui-sref="store.restaurants">My Restaurants</a>
                </li>
                <li ng-class="{active: $ctrl.state.includes('payments')}">
                    <a ui-sref="store.restaurants">Restaurants</a>
                </li>
                <li ng-class="{active: $ctrl.state.includes('transfers')}">
                    <a ui-sref="about">About</a>
                </li>
                <li ng-class="{active: $ctrl.state.includes('products')}">
                    <a ui-sref="contacts">Contacts</a>
                </li>
                <li>
                    <a ng-if="!$ctrl.isAuthorized" ui-sref="users.login">Login</a>
                </li>
                <li>
                    <a ng-if="$ctrl.isAuthorized" href="javascript:void(0);" ng-click="$ctrl.logout()">Logout</a>
                </li>
                <!--<li ng-if="$ctrl.isAuthorized" ng-class="{active: $ctrl.state.includes('history')}"><a ui-sref="history">Архив платежей и переводов</a></li>-->
                <!-- <li><a ui-sref="home">Кредиты</a></li> -->
                <!-- <li><a ui-sref="home">Депозиты</a></li> -->
                <!-- <li><a ui-sref="home">Страхование</a></li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Sidebar -->
<aside>
    <div class="sidebar collapse" id="sidecart">
        <!--<sidebar-cart ng-show="$ctrl.CartServices.showCart"></sidebar-cart>-->
        <sidebar-cart></sidebar-cart>
    </div>
</aside>