<div class="sidebar scroll">
  <a href="javascript:void(0)" ng-click="$ctrl.CartServices.toggleShowCart()" class="modal-close"><span
          class="glyphicon glyphicon-remove"></span></a>
    <div class="sidebar-header">
      <div class="title">
        {{$ctrl.cart.items?'Your Order':'Your cart is empty'}}
      </div>
      <div class="store">
        {{$ctrl.cart.items? $ctrl.cart.restaurant.title:'Add item to get started'}}
      </div>
      <a class="btn btn-primary" ui-sref="cart">
        <span>Checkout</span><span>{{$ctrl.CartServices.getTotalPrice() | currency}}</span>
      </a>
    </div>
    <div class="order-list">
      <div class="order-item" ng-repeat="item in $ctrl.cart.items">
        <div class="order-item-quantity">{{item.quantity}}</div>
        <div class="order-item-container">
          <div class="order-item-container-header">
            <div class="name">{{item.name}} </div>
            <div class="total">{{item.price | currency}} </div>
          </div>
          <div ng-repeat="note in item.notes" class="order-item-container-note">{{note.title}} {{note.name}}</div>
          <div class="order-item-container-note">{{item.additional}}</div>
          <div class="order-item-container-action">
            <span ng-click="$ctrl.CartServices.deleteItemFromCart(item.id)">Remove</span>
          </div>
        </div>
      </div>
    </div>
</div>
