
.order-status{
  margin-top: 5px;
  .date-selector {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0 4px;
    height: 52px;
    width: 52px;
    border-radius: 100%;
    cursor: pointer;
    float: left;
    text-align: center;
    @media(max-width: $screen-xs-max) {
      margin: 0;
    }
    &.active{
      background: #BE2C2C;
      color: #FFF;
    }
    p{
      margin-bottom: -6px;
      margin-top: 11px;
    }
    span {
      font-size: 16px;
    }
    &-block {
      @include flex(flex-start, space-between, row);
    }
    &:hover {
      background: $color-cool-gray;
    }
  }
  .date-block {
    padding: 0;
  }

  .modal {
    &-content {
      max-width: 340px;
      max-height: 390px;
      margin: 0 auto;
      border-radius: 0;
    }
    &-footer {
      text-align: left;
      max-height: 248px;
      overflow-y: inherit;
      overflow-x: hidden;
      @media(max-width: $screen-xs-max) {
        max-height: 180px;
      }
      ul{
        li {
          padding: 5px;
          &:hover {
            background: #dfe9f5;
          }
        }
      }
    }

  }
}


