<div class="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <div class="footer-item copyright">
            <small class="text-muted">Build with ♥ by the&nbsp;<a href="#">Dewo</a></small>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="footer-item social">
            <a href="https://www.facebook.com/qazkombank" class="link">
              <span class="icon icon_facebook"></span>
            </a>
            <a href="https://vk.com/Qazkom_Bank" class="link">
              <span class="icon icon_vk"></span>
            </a>
            <a href="https://twitter.com/Qazkom_Bank" class="link">
              <span class="icon icon_twitter"></span>
            </a>
            <a href="https://www.instagram.com/qazkom_official" class="link">
              <span class="icon icon_instagram"></span>
            </a>
            <a href="https://www.youtube.com/c/QAZKOM" class="link">
              <span class="icon icon_youtube"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
