/* resources.scss */

$footer-vertical-margin: 5px;


.footer {
  padding-top: $footer-vertical-margin;
  border-top: 1px solid #ccc;
  width: 100%;
  background-color: #fff;
  padding-bottom: 20px;
  line-height: 160%;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-family: DD-ProximaNova,ProximaNova,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  margin: 0;
}
