<section class="form-wrap container cart-form">
    <div class="container" ng-if="$ctrl.step === 1">
        <form class="form" ng-submit="$ctrl.placeOrder()">
            <div ng-class="{'loading': $ctrl.isLoading}">
                <!-- Restaurant -->
                <div class="row" ng-show="$ctrl.CartServices.getTotalCount() > 0">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
                        <div class="text-center">
                            <h1 class="title">
                                Order from: {{$ctrl.cart.restaurant.title}}
                            </h1>
                            <div class="subtitle">
                                {{$ctrl.cart.restaurant.address}} {{$ctrl.cart.restaurant.phone}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Summary -->
                <div class="form-group">
                    <legend><h2>Summary</h2></legend>
                    <div class="alert alert-warning" role="alert" ng-if="$ctrl.CartServices.getTotalCount() === 0">
                        Your cart is empty
                    </div>
                    <div class="table col-xs-12" ng-show="$ctrl.CartServices.getTotalCount() > 0">
                        <table class="table table-striped ngCart cart">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tfoot>

                            <tr ng-show="ngCart.getShipping()">
                                <td></td>
                                <td></td>
                                <td>Shipping:</td>
                                <td>{{ ngCart.getShipping() | currency }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><h4>subtotal:</h4></td>
                                <td>{{ $ctrl.CartServices.getSubTotalPrice() | currency }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><h4>Tax:</h4></td>
                                <td>{{ $ctrl.CartServices.getTax()=== 0 ? 'Free':$ctrl.CartServices.getTax() | currency}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><h4>Delivery:</h4></td>
                                <td><span ng-if="$ctrl.CartServices.getDeliveryTax() === 0">Free</span><span
                                        ng-if="$ctrl.CartServices.getDeliveryTax() > 0">{{$ctrl.CartServices.getDeliveryTax() | currency}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><h4>Service fee:</h4></td>
                                <td>{{ $ctrl.CartServices.getServiceFee() === 0 ? 'Free': $ctrl.CartServices.getServiceFee()  | currency}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><h4>Total:</h4></td>
                                <td>{{ $ctrl.CartServices.getTotalPrice() | currency}}</td>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.cart.items track by $index">
                                <td><p>{{ item.name }}</p>
                                    <p ng-repeat="note in item.notes">
                                        {{note.title}}-{{note.name}}
                                    </p>
                                    <p>{{item.additional}}</p>
                                </td>
                                <td ng-model="item.quantity">
                        <span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.quantity==1}"
                              ng-click="$ctrl.CartServices.decreaseItemQ($index)"></span>
                                    {{ item.quantity | number }}&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-plus"
                                          ng-click="$ctrl.CartServices.increaseItemQ($index)"></span></td>
                                <td>
                                    {{ item.each_price | currency}}
                                </td>
                                <td ng-model="item.price">
                        <span ng-click="$ctrl.CartServices.deleteItemFromCart(item.id)"
                              class="glyphicon glyphicon-remove"></span>{{ item.price | currency }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Address -->
                <div class="form-group" ng-if="$ctrl.UserService.isAuthorized()">
                    <legend><h2>Address</h2></legend>
                    <p>{{$ctrl.UserService.user.address}}</p>
                </div>
                <!-- Payment -->
                <div class="form-group">
                    <legend><h2>Payment</h2></legend>
                    <div class="radio radio-inline">
                        <input type="radio" id="cash"
                               ng-model="$ctrl.payment"
                               value="by_cash"
                               clear-errors
                               checked>
                        <label for="cash">
                            <span>Cash</span>
                        </label>
                    </div>
                    <div class="radio radio-inline">
                        <input type="radio" id="credit"
                               ng-model="$ctrl.payment"
                               value="by_credit"
                               clear-errors>
                        <label for="credit">
                            <span>Credit on Delivery</span>
                        </label>
                    </div>

                </div>
                <!-- order data form-->
                <div ng-if="!$ctrl.UserService.isAuthorized()">
                    <legend><h2>Order data</h2></legend>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group ">
                                <label class="control-label" for="of_f_name">Full Name</label>
                                <input id="of_f_name"
                                       name="First Name"
                                       placeholder="Daulet"
                                       class="form-control input-md"
                                       required type="text"
                                       ng-model="$ctrl.userForm.name">
                            </div>
                            <!-- Text input-->
                            <div class="form-group ">
                                <label class=" control-label" for="of_address">Address</label>
                                <input id="of_address" name="textinput" placeholder="city"
                                       class="form-control input-md"
                                       required type="text"
                                       ng-model="$ctrl.userForm.address">
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="of_email">Email</label>
                                <input id="of_email" name="textinput" placeholder=""
                                       class="form-control input-md"
                                       required
                                       type="email"
                                       ng-model="$ctrl.userForm.email">
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="of_phone1">Tel.</label>
                                <input id="of_phone1" name="textinput" placeholder=""
                                       class="form-control input-md" required
                                       type="tel"
                                       ng-model="$ctrl.userForm.number">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Alert information row -->
                <div class="row">
                    <div ng-show="$ctrl.isSend" class="alert alert-success">Your Order successfully have been send</div>
                    <!--<div ng-show="$ctrl.errors" class="alert alert-danger">Error on submit form</div>-->
                    <div ng-if="$ctrl.errors.form" class="alert alert-danger" role="alert">{{$ctrl.errors.form}}</div>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <button id="of_btn"
                                name="singlebutton"
                                class="btn btn-success"
                                type="submit"
                                ng-disabled="$ctrl.CartServices.getTotalCount() === 0">
                            Place Order
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--next step -->
    <div class="container" ng-if="$ctrl.step === 2">
        <div class="row" ng-if="$ctrl.order.status != 'canceled'">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl text-center">
                <a href="javascript:void(0);" ng-click="$ctrl.cancelOrder()">CANCEL ORDER</a>
            </div>
            <div class="col-xs-12 col-sm-6">RECEIPT FOR <span class="text-uppercase">{{$ctrl.order.client_name}}</span>
                AT <span class="text-uppercase">{{$ctrl.order.res_name}}</span></div>
            <div class="hidden-xs col-sm-6 text-right"><a href="javascript.void(0);" ng-click="$ctrl.cancelOrder()">CANCEL
                ORDER</a></div>
        </div>

        <div class="visible-sm visible-md visible-lg">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive text-info">
                        <table class="table">
                            <caption><span class="text-uppercase">{{$ctrl.order.client_name}}</span>'S ORDER
                                №{{$ctrl.order.id}}
                            </caption>
                            <tbody>
                            <tr ng-repeat="od in $ctrl.order.orderDetails">
                                <td class="col-sm-1">{{od.quantity}}x</td>
                                <td class="col-sm-4"><b>{{od.title}}</b><br>
                                    <p>Substitution preferences:{{od.additional}}</p>
                                    <p>{{od.note}}</p>
                                </td>
                                <td class="col-sm-3"></td>
                                <td class="col-sm-2"></td>
                                <td class="col-sm-2 text-right">
                                    {{od.unit_price | currency}}
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td class="text-left">
                                    Subtotal:<br/>
                                    Tax:<br/>
                                    Delivery:<br/>
                                    Service Fees:<br/>
                                    <h2>Total:</h2>
                                </td>
                                <td class="text-right">
                                    {{($ctrl.order.order_amount - $ctrl.order.tax -$ctrl.order.delivery - $ctrl.order.service_fee).toFixed(2) }}<br/>
                                    {{$ctrl.order.tax === 0? 'Free': $ctrl.order.tax}}<br/>
                                    {{$ctrl.order.delivery === 0? 'Free': $ctrl.order.deliver}}<br/>
                                    {{$ctrl.order.service_fee === 0? 'Free': $ctrl.order.service_fee}}<br/>
                                    <h2>{{$ctrl.order.order_amount}}</h2>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="visible-xs">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table text-info">
                        <caption><span class="text-uppercase">{{$ctrl.order.client_name}}</span>'S ORDER
                            №{{$ctrl.order.id}}
                        </caption>
                        <tbody>
                        <tr ng-repeat="od in $ctrl.order.orderDetails">
                            <td class="col-sm-1">{{od.quantity}}x</td>
                            <td class="col-xs-9"><b>{{od.title}}</b><br>
                                <p>Substitution preferences:{{od.additional}}</p>
                                <p>{{od.note}}</p>
                            </td>
                            <td class="col-xs-2 text-right">
                                {{od.unit_price }}
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td class="text-left">
                                Subtotal:<br/>
                                Tax:<br/>
                                Delivery:<br/>
                                Service Fees:<br/>
                                <h2>Total:</h2>
                            </td>
                            <td class="text-right">
                                {{($ctrl.order.order_amount - $ctrl.order.tax -$ctrl.order.delivery -
                                $ctrl.order.service_fee).toFixed(2)}}<br/>
                                {{$ctrl.order.tax === 0? 'Free': $ctrl.order.tax}}<br/>
                                {{$ctrl.order.delivery === 0? 'Free': $ctrl.order.deliver}}<br/>
                                {{$ctrl.order.service_fee === 0? 'Free': $ctrl.order.service_fee}}<br/>
                                <h2>{{$ctrl.order.order_amount}}</h2>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
