<div class="component">
  <br><br>{{$ctrl.product}}
  <div class="row">
    <div class="row-height">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <div ng-class="{'loading':$ctrl.isLoading}">
          <div class="panel panel-default">
            <div class="panel-heading">
              Product: {{$ctrl.product.title}}
            </div>
            <div class="panel-body">
              <div class="alert alert-warning" ng-show="$ctrl.warning">{{$ctrl.warning}}</div>
              <form ng-submit="$ctrl.saveProduct()">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th class="col-xs-3">NAME</th>
                    <th class="col-xs-9">VALUE</th>
                  </tr>
                  </thead>
                  <tr>
                    <td>id</td>
                    <td>{{$ctrl.product.id}}</td>
                  </tr>
                  <tr>
                    <td>title</td>
                    <td><input type="text" class="form-control" ng-model="$ctrl.product.title"
                               required></td>
                  </tr>
                  <tr>
                    <td>img</td>
                    <td><input type="text" class="form-control" ng-model="$ctrl.product.img_url"
                               required></td>
                  </tr>
                  <tr>
                    <td>price</td>
                    <td><input type="text" class="form-control" ng-model="$ctrl.product.price"
                               required></td>
                  </tr>
                  <tr>
                    <td>description</td>
                    <td><textarea type="text" class="form-control"
                                  ng-model="$ctrl.product.description" required></textarea></td>
                  </tr>
                  <tr>
                    <td>tags</td>
                    <td><input type="text" class="form-control" ng-model="$ctrl.product.tags"
                               required></td>
                  </tr>
                  <tr>
                    <td>discount</td>
                    <td><input type="text" class="form-control" ng-model="$ctrl.product.discount"
                               required></td>
                  </tr>
                </table>
                <div ng-if="$ctrl.errors.form" class="alert alert-danger" role="alert">
                  {{$ctrl.errors.form}}
                </div>
                <button type="submit" ng-disabled="$ctrl.isLoading === true"
                        class="btn btn-primary">
                  <span ng-if="$ctrl.isLoading">pleas wait</span>
                  <span ng-if="!$ctrl.isLoading">save</span>
                </button>
              </form>
            </div>
            <!--{{$ctrl.productOptions}}-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
