<section class="about">
    <div class="container">
        <div class="page-content">
            <div class="info text-center">
                <div class="row">
                    <h2>ABOUT US</h2>
                    <p>MunchRocket is always on the way of making people happy!</p>
                    <p>Our delivery service allows millions to enjoy great meals and save time.</p>
                    <p>And time spent doing what you love is pure happiness!</p>
                    <br>
                    <p>View Restaurants & Stores</p>
                </div>
                <div class="row">
                    <h2>DELIVERED BY</h2>

                    <p>Our deliveries are carried out by Rocket Couriers. </p>
                        <p>A great bunch of determined individuals
                        working on
                        strictly their time schedule, deciding when to work and for how long.</p>
                    <p>Bringing happiness is rewarding!</p>
                    <br>
                    <p>Become a Rocket Courier</p>
                </div>
                <div class="row">
                    <h2>EMPOWERING THE CITY</h2>
                </div>
                <p>MunchRocket gives restaurants and stores a new power!</p>
                <p> Delivery options not only excite existing
                    customers, but also bring new customers from other areas of the city.</p>

                <p>Start Delivering</p>

                <div class="row">
                    <h2>LEARN MORE ABOUT MUNCHROCKET</h2>
                </div>
                <div class="row">
                    <h2>CONTACT US</h2>
                </div>
            </div>
        </div>

    </div>
</section>