<section class="about-banner hidden-xs">
    <div class="about-banner"></div>
</section>
<section class="about">
    <div class="container">
        <div class="page-content">
            <div class="info text-center">
                <div class="row">
                    <h1>About Us</h1>
                    <p>MunchRocket is always on the way of making people happy!</p>
                    <p>Our delivery service allows millions to enjoy great meals and save time.</p>
                    <p>And time spent doing what you love is pure happiness!</p>
                    <p><a ui-sref="store.restaurants" href="javascript:void(0)">View Restaurants & Stores</a> </p>
                </div>
                <div class="row">
                    <div class="col--xs-12">
                        <div class="foods">
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/donuts.png"/>
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/taco.png"/>
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/croissant.png"/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h2>Brought By</h2>
                    <p>Our deliveries are carried out by Rocket Couriers. </p>
                    <p>A great bunch of determined individuals working onstrictly their time schedule, <br>deciding when to work and for how long.</p>
                    <p>Bringing happiness is rewarding!</p>
                    <p><a href="javascript:void(0)" ui-sref="contacts">Become a Rocket Courier</a></p>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="foods">
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/sushi.png"/>
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/icecream.png"/>
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/coffee.png"/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h2>City Emprowered</h2>
                    <p>MunchRocket gives restaurants and stores a new power!</p>
                    <p> Delivery options not only excite existing customers,<br>but also bring new customers from other areas of the city.</p>
                    <p><a href="javascript:void(0)" ui-sref="contacts">Start Delivering</a></p>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="foods">
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/pizza.png"/>
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/juice.png"/>
                            <img class="foods-item" height="100" width="100" src="app/components/pages/about/img/shrimp.png"/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h2>To Learn More About MunchRocket</h2>
                </div>
                <br>
                <div class="row">
                    <p><a href="javascript:void(0)" ui-sref="contacts">Contact Us</a></p>
                </div>
                <br>
            </div>
        </div>

    </div>
</section>