.home {
    &-virtual {
        background-color: $color-white;
        padding: 30px 0;

        @media (min-width: $screen-md-min) {
            padding: 50px 0;
        }

        .content {
            position: relative;
            z-index: 1;
        }

        .title {
            margin-bottom: 10px;
        }

        .subtitle {
            @media (min-width: $screen-sm-min) {
                padding: 0 30px;
            }
        }

        .virtual-middle {
            margin-top: 30px;
            margin-bottom: 30px;

            @media (min-width: $screen-sm-min) {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

        .virtual-card {
            max-width: 100%;
            width: 300px;
            height: 174px;
            border-radius: 4px;
            margin: 0px auto;
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url("./img/virtual-card-all.svg");
            position: relative;

            @include hb-shadow;

            @media (min-width: $screen-lg-min) {
                width: 370px;
                height: 220px;
                background-size: initial;
            }

            &:before {
                content: '';
                z-index: -1;
                position: absolute;
                left: 0;
                right: 0;
                top: -100px;
                bottom: -100px;
                display: block;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-image: url("./img/ripple.svg");
                background-position: center;

                @media (min-width: $screen-lg-min) {
                    left: -140px;
                    right: -140px;
                    top: -140px;
                    bottom: -140px;
                }
            }

            .name {
                position: absolute;
                left: 25px;
                bottom: 25px;

                @media (min-width: $screen-lg-min) {
                    left: 30px;
                    bottom: 30px;
                }
            }
        }

        .list {
            &-item {
                @include flex(center, flex-start);

                margin-bottom: 30px;

                @media (min-width: $screen-md-min) {
                    margin-bottom: 50px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .text {
                    margin-left: 10px;
                }
            }
        }

        .virtual-button {
            display: block;
            max-width: 300px;
            margin: 20px auto 0;
        }
    }

    &-transfers {
        padding: 30px 0;

        @media (min-width: $screen-lg-min) {
            padding: 50px 0;
        }

        background-image: linear-gradient(141deg, #61fbf4, #1c84f7);

        .content-block {
            position: relative;
            z-index: 5;
        }

        .art {
            @include user-select(none);

            margin-right: -10px;
            margin-left: -10px;
            overflow: hidden;
            position: relative;
            top: -60px;
            margin-bottom: -120px;
            height: 410px;
            padding-top: 10px;
            padding-bottom: 10px;

            @media (min-width: $screen-sm-min) {
                margin-right: -15px;
                margin-left: -15px;
                top: -30px;
            }

            @media (min-width: $screen-lg-min) {
                top: -50px;
                height: 500px;
                margin-bottom: -100px;
            }

            &-third, &-second, &-first {
                position: relative;

                @include flex(center, center);

                &:before {
                    content: '';
                    z-index: 0;
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    animation-name: spin;
                    animation-duration: 3000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }

                .circle-3-1, .circle-3-2,
                .circle-2-1, .circle-2-2,
                .circle-1-1, .circle-1-2 {
                    position: absolute;
                    z-index: 1;
                    width: 45px;
                    border-radius: 50%;

                    @include hb-shadow;

                    @media (min-width: $screen-lg-min) {
                        width: 60px;
                    }
                }
            }

            &-third {
                width: 390px;
                height: 390px;
                margin: 0 auto;
                &:before {
                    animation-name: spin-large;

                    animation-duration: 6000ms;
                    background-image: url("./img/3-tale.svg");
                }

                @media (min-width: $screen-lg-min) {
                    width: 540px;
                    height: 540px;
                    top: -20px;
                }

                .circle-3-1 {
                    right: 0%;
                    bottom: 20%;
                }

                .circle-3-2 {
                    left: 0%;
                    top: 20%;
                }
            }

            &-second {
                width: 295px;
                height: 295px;

                &:before {
                    animation-duration: 4000ms;
                    background-image: url("./img/2-tale.svg");
                }

                @media (min-width: $screen-lg-min) {
                    width: 400px;
                    height: 400px;
                }

                .circle-2-1 {
                    top: 10%;
                    right: 5%;
                }

                .circle-2-2 {
                    left: 5%;
                    bottom: 10%;
                }
            }

            &-first {
                width: 200px;
                height: 200px;

                &:before {
                    background-image: url("./img/1-tale.svg");
                }

                @media (min-width: $screen-lg-min) {
                    width: 270px;
                    height: 270px;
                }

                .circle-1-1, .circle-1-2 {
                    top: 40%;
                }

                .circle-1-1 {
                    left: -10%;
                }

                .circle-1-2 {
                    right: -10%;
                }
            }

            &-center {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                text-align: center;
                background-color: $color-white;
                padding: 20px;

                @include hb-shadow;

                @include flex(center, center);

                @media (min-width: $screen-lg-min) {
                    width: 140px;
                    height: 140px;
                }

                img {
                    position: relative;
                    left: 3px;
                }
            }
        }
    }

    &-go {
        background-color: $color-white;
        padding: 30px 0;
        text-align: center;

        @media (min-width: $screen-md-min) {
            padding: 50px 0;
            text-align: left;
        }

        .title {
            margin-bottom: 15px;
        }

        .subtitle {
            padding: 0 15px;

            @media (min-width: $screen-md-min) {
                padding: 0;
            }
        }

        .go-image {
            max-width: 100%;
        }

        .go-button {
            display: inline-block;
            margin-top: 30px;
            margin-bottom: 0;
            max-width: 300px;
        }
    }

    &-payments {
        overflow: hidden;
        padding: 30px 0 0;
        text-align: center;

        @media (min-width: $screen-md-min) {
            padding: 50px 0 0;
        }

        .payments-button {
            max-width: 300px;
            display: inline-block;
            margin-bottom: 0;
            margin-top: 20px;
        }

        .payments-ripple {
            position: relative;
            min-height: 50px;

            &:after {
                content:'';
                display: block;
                z-index: 0;
                opacity: 0.5;
                background-image: url("./img/ripple.svg");
                background-position: 50% 50%;
            }
        }

        .payments-search {
            margin-bottom: 30px;
            margin-top: 15px;
            position: relative;
            z-index: 1;
        }
        .content-block{
            position: relative;
            z-index: 2;
        }
    }
}

@-moz-keyframes spin {
    0%{
        -moz-transform: rotate(-65deg);
    }    
    45%{
        -moz-transform: rotate(-240deg);
    }
    50%{
        -moz-transform: rotate(-245deg);
    }
    100% {
        -moz-transform: rotate(-425deg);
    }
}

@-webkit-keyframes spin {
    0%{
        -webkit-transform: rotate(-65deg);
    }
    45%{
        -webkit-transform: rotate(-240deg);
    }
    50%{
        -webkit-transform: rotate(-245deg);
    }
    100% {
        -webkit-transform: rotate(-425deg);
    }
}

@keyframes spin {
    0%{
        -webkit-transform: rotate(-65deg);
        transform: rotate(-65deg);
    }
    45%{
        -webkit-transform: rotate(-240deg);
        transform: rotate(-240deg);
    }
    50%{
        -webkit-transform: rotate(-245deg);
        transform: rotate(-245deg);
    }
    100% {
        -webkit-transform: rotate(-425deg);
        transform: rotate(-425deg);
    }
}

@-moz-keyframes spin-large {
    0%{
        -moz-transform: rotate(60deg);
    }    
    45%{
        -moz-transform: rotate(-115deg);
    }
    50%{
        -moz-transform: rotate(-120deg);
    }
    100% {
        -moz-transform: rotate(-300deg);
    }
}

@-webkit-keyframes spin-large {
    0%{
        -webkit-transform: rotate(60deg);
    }
    45%{
        -webkit-transform: rotate(-115deg);
    }
    50%{
        -webkit-transform: rotate(-120deg);
    }
    100% {
        -webkit-transform: rotate(-300deg);
    }
}

@keyframes spin-large {
    0%{
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    45%{
        -webkit-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
    50%{
        -webkit-transform: rotate(-120deg);
        transform: rotate(-120deg);
    }
    100% {
        -webkit-transform: rotate(-300deg);
        transform: rotate(-300deg);
    }
}