<section class="home">
    <!--<home-slider></home-slider>-->
    <section class="home-virtual">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
                        <div class="text-center">
                            <h1 class="title">
                                Launch the Yummy!
                            </h1>
                            <div class="subtitle">
                                Order the tastiest meals from best restaurants in town
                            </div>
                        </div>
                        <input autocomplete="off" clear-errors="" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="deliveryAddress" placeholder="Enter your delivery address" type="text">
                    </div>
                </div>

                <a ui-sref="store.restaurants" class="btn btn-primary virtual-button">
                    Find restaurants
                </a>
            </div>
        </div>
    </section>
</section>
