<div class="products-info">
  <a href="javascript:void(0)" ng-click="$ctrl.closeModal()" class="modal-close"><span class="icon icon_modal-close"></span></a>
  <div class="modal-header">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="price-block">ADD ITEM - ${{$ctrl.product.price}}</div>
              <h5>{{$ctrl.product.title}}</h5>
              <div class="description-block">{{$ctrl.product.description}}</div>
          </div>
      </div>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div ng-repeat="option in $ctrl.productOptions" class="">

                  <p class="option">
                      <span class="option-name">{{option.name}}</span>
                      <span class="option-optional">{{option.isRequired == 0? '(Optional)': '(Required)'}}</span>

                  </p>
                  <div class="info-box" ng-if="option.isOne == 0">
                      <div class="info-box-row" ng-repeat="item in option.productOptionsItems">
                          <div class="info-box-label">
                              <div class="checkbox checkbox-primary">
                                  <input id="opt{{item.id}}"type="checkbox" value="{{item.id}}">
                                  <label for="opt{{item.id}}">
                                      {{item.name}} -${{item.price}}
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="info-box" ng-if="option.isOne == 1">
                      <div class="info-box-row" ng-repeat="item in option.productOptionsItems">
                          <div class="info-box-label">
                              <div class="radio">
                                  <input id="opt{{item.id}}" name="{{option.id}}" type="radio" value="{{item.id}}">
                                  <label for="opt{{item.id}}">
                                      {{item.name}} -${{item.price}}
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="form-group">
                  <label class="control-label">
                      Additional
                  </label>
                  <textarea class="form-control vresize" type="text" id="additional-information" ng-model="additional"></textarea>
              </div>
          </div>
      </div>


  </div>
  <div class="modal-footer">
      <div class="row">
          <div class="hidden-xs hidden-sm col-md-4 col-lg-4">

          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="input-group">
                  <div class="input-group-addon input-group-addon_button" ng-click="$ctrl.decreaseQuantity()">
                      <span>-</span>
                  </div>
                  <input type="text" class="form-control " value="{{$ctrl.quantity}}">
                  <div class="input-group-addon input-group-addon_button" ng-click="$ctrl.increaseQuantity()">
                      <span>+</span>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <span class="btn btn-primary virtual-button" ng-click="$ctrl.validateForm()">
                  Add to Order ${{$ctrl.amount}}
              </span>
          </div>

      </div>
  </div>
</div>