<section class="home-slider">
	<div uib-carousel 
		template-url="app/components/home/slider/uib-carousel.html" 
		class="carousel_home" 
		active="$ctrl.activeSlide" 
		interval="$ctrl.switchInterval" 
		no-wrap="$ctrl.noWrapSlides">

	    <div uib-slide index="0">
	        <div class="slide slide_register">
	            <div class="container">
	                <div class="slide-wrap"> 
	                    <div class="slide-content text-center">
	                        <h1 class="text-white title_home">
								Launch the Yummy!
	                            </h1>
	                        <p class="text-white subtitle subtitle_home">
								Order the tastiest meals from best restaurants in town
	                        </p>

							<input autocomplete="off"
								   places-auto-complete
								   size=80
								   component-restrictions="{country:'ca'}"
								   on-place-changed="$ctrl.placeChanged()"
								   types="{{$ctrl.types}}"
								   class="form-control ng-pristine ng-untouched ng-valid ng-empty"
								   id="deliveryAddress" placeholder="Enter your delivery address"
								   type="text">
	                        		<!--a href="javascript:void(0)" ui-sref="store.restaurants" class="btn btn-auto btn-primary slide-button ">
	                            	Find restaurants
								</a-->
	                    </div>
	                </div> 
	            </div>
	        </div>
	    </div>
	    <!--<div uib-slide index="1">-->
	        <!--<div class="slide slide_login">-->
	            <!--<div class="container">-->
	                <!--<div class="slide-wrap">-->
	                    <!--<div class="slide-content">-->
	                        <!--<h1 class="text-white title_home">-->
	                                <!--Лучший интернет-банкинг страны теперь открыт для держателей карт любых банков-->
	                            <!--</h1>-->
	                        <!--<p class="text-white subtitle subtitle_home">-->
	                            <!--Регистрируйтесь по номеру телефона за 1 мин., переводите деньги, оплачивайте услуги без комиссии и зарабатывайте Go! бонусы-->
	                        <!--</p>-->
	                        <!--<a href="javascript:void(0)" ui-sref="users.login" class="btn btn-auto btn-primary slide-button ">-->
	                            	<!--Вход-->
								<!--</a>-->
	                    <!--</div>-->
	                <!--</div>-->
	            <!--</div>-->
	        <!--</div>-->
	    <!--</div>-->
	</div>
</section>
